<!DOCTYPE html>
<html ng-app="mailerApp" lang="en">
<head>
    <title>The Things We Cook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="The Things We Cook is a farm to table cookbook filled with delicious recipes and whimsical illustrations for all to enjoy">

    <link rel="icon" href="css/img/favicon.png" type="image/jpg">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js" type="text/javascript"></script>
    
    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="lightcase/css/lightcase.css">
    <link rel="stylesheet" type="text/css" href="css/TWCook.css">

</head>

<body>

<div class="header">
    <div class="panel col-sm-12">
        <img src="css/img/header/header_top.jpg" class="img-responsive">
    </div>
    <div class="topHead col-sm-12">
        <img src="css/img/header/finalHeader.jpg" class="img-responsive">
    </div>
    <div class="bottomHead col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
        <img src="css/img/header/GHFCookBar.jpg" class="img-responsive">
    </div>
    <!-- <div class="panel col-sm-12">
        <img src="css/img/header/header_bottom.jpg" class="img-responsive">
    </div> -->
</div>

<div class="conatiner-fluid">
    <div class="bar col-xs-12">
        <span class="col-sm-offset-1 col-sm-2 col-sm-offset-2 col-xs-4"><a onclick="$('.about').animatescroll();"><p>ABOUT</p></a></span>
        <span class="col-sm-2 hidden-xs"><a onclick="$('.author').animatescroll();"><p>AUTHOR</p></a></span>
        <span class="col-sm-2 col-xs-4"><a onclick="$('.buy').animatescroll();"><p class="hidden-xs">BUY NOW!</p><p class="hidden-lg hidden-md hidden-sm">BUY</p></a></span>
        <span class="col-sm-2 hidden-xs"><a onclick="$('.reviews').animatescroll();"><p>REVIEWS</p></a></span>
        <span class="col-sm-2 col-xs-4 freeRecipe"><a href="cobblerRecipe.pdf" target="_blank"><p class="hidden-xs">FREE RECIPE!</p><p class="hidden-md hidden-sm hidden-lg">RECIPE!</p></a></span>        
    </div>
</div>

<div class="container-fluid row1">
    <div class="col-sm-4 col-xs-6">
        <div class="grid">     
            <figure class="effect-goliath picOne">
                    <a href="css/img/stitches/garlicscapestitch.jpg" data-rel="lightcase">
                        <img src="css/img/mainPhotos/garlicScape.jpg" class="img-responsive" />
                    <figcaption>
                        <h3>GARLIC SCAPE PESTO</h3>
                        <p>PG. 114 (CLICK TO SEE MORE)</p>
                    </figcaption>    
                    </a>                
            </figure>
        </div>
    </div>
    
    <div class="col-sm-4 col-xs-6">
        <div class="grid">
            <figure class="effect-goliath picFive">
                    <a href="css/img/stitches/moomoocakestitch.jpg" data-rel="lightcase">
                        <img src="css/img/mainPhotos/moomoocake.jpg" class="img-responsive" />
                    <figcaption>
                        <h3>CHOCOLATE CAKE <span>FOR THE</span> AGES</h3>
                        <p>PG. 230 (CLICK TO SEE MORE)</p>
                    </figcaption>    
                </a>               
            </figure>
        </div>
    </div>

    <div class="col-sm-4 hidden-xs">
        <div class="grid">
            <figure class="effect-goliath picSix">
                    <a href="css/img/stitches/sausagepicstitch.jpg" data-rel="lightcase">
                        <img src="css/img/mainPhotos/italian.jpg" class="img-responsive" />
                    <figcaption>
                        <h3>PASTA & HOT ITALIAN SAUSAGE</h3>
                        <p>PG. 169 (CLICK TO SEE MORE)</p>
                    </figcaption>   
                    </a>                
            </figure>
        </div>
    </div>
</div>

<div class="col-xs-12 borderTop">
    <img src="css/img/border2.jpg" class="img-responsive">
</div>

<div class="container-fluid">
    <div class="about">
        <div class="col-xs-12">
            <div class="phoneAbout hidden-lg hidden-md hidden-sm" style="text-align: center; font-size: 25px;">ABOUT</div>
        </div>

        
            <div class="col-md-3 col-sm-2 hidden-xs sign">
                <img src="css/img/about_sign.jpg" class="img-responsive">
            </div>
        
            <div class="aboutContent col-md-5 col-sm-10 col-xs-12 about1">
                <p>WHATS A RECIPE WITHOUT ITS STORY? THIS COOKBOOK TELLS THE STORY OF EACH RECIPE AND THE WONDERFUL COOKS WHO INSPIRED ME. THE THINGS WE COOK SHARES 200 OF MY MOST LOVED, TRIED AND TRUE RECIPES FROM THE KITCHEN OF GREEN HOPE FARM, OUR ORGANIC FARM NESTLED IN THE HILLS OF NEW HAMPSHIRE.</p>
                <p>FOR THIRTY YEARS I HAVE COOKED UP A STORM FOR FAMILY, FRIENDS AND OUR BELOVED FARM STAFF.THESE STORIES AND RECIPES ARE ELEVATED TO A THING OF BEAUTY BY THE MARVELOUS WHIMSICAL ILLUSTRATIONS OF AllI HOWE, ONE OF THE MANY BELOVEDS WHO WORKED HERE AND FEASTED AT OUR FARM TABLE.</p>
            </div>

        <div class="col-md-4  col-md-offset-0 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10 instaBox">
            <div class="insta"><a href="https://instagram.com/thethingswecook">FOLLOW US ON INSTAGRAM!</a></div>
            <!-- SnapWidget -->
            <iframe src="https://snapwidget.com/embed/267906" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:390px; height:390px"></iframe>
        </div>

        <div class="aboutContent col-sm-9 col-xs-12">
            <p>THE DIVERSE COMMUNITY SEATED AROUND OUR KITCHEN TABLE HAS ENCOURAGED ME TO EXPLORE DIFFERENT WAYS TO EAT AND COOK. HERE I SHARE ALL I HAVE LEARNED COOKING FOR THIS CROWD WITH THE FRUITS, VEGETABLES, MAPLE SYRUP AND HONEY FOUND AT OUR FARM. THERE ARE VEGAN RECIPES. THERE ARE GLUTEN FREE, DAIRY FREE, CORN FREE AND SUGAR FREE RECIPES. THERE ARE RECIPES FOR POTLUCKS, WINTER SUPPERS AND BIG CELEBRATIONS! THERE ARE COMFORT RECIPES CONTAINING MEAT AND DAIRY. NO MATTER WHO YOU COOK FOR, THE THINGS WE COOK OFFERS WONDERFUL RECIPES TO FEED YOUR BELOVEDS DELICIOUS FOOD!</p>
        </div>

        <div class="mushroom col-sm-3 hidden-xs">
            <img src="css/img/mushroom.jpg" class="img-responsive">
        </div>
    </div>
</div>

<div class="col-xs-12">
    <img src="css/img/border4.jpg" class="img-responsive">
</div>

<div class="friends col-xs-12">
	<h3>FRIENDS OF THE THINGS WE COOK</h3>

	<div class="col-sm-6 friendBox">		
		<p class="col-sm-9 col-xs-12 friends1">We would like to thank <a href="http://www.thegarlicpad.com/" target="_blank">The Garlic Pad</a> for a wonderful review of our garlic scape pesto!</p>
        <div class="col-sm-3 hidden-xs">
            <a href="https://instagram.com/thegarlicpad/" target="_blank">
                <img src="https://igcdn-photos-a-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-19/10175202_848697975180808_490435515_a.jpg" class="img-responsive img-thumbnail">
            </a>
        </div>    

		<h4 class="col-xs-12">"MOLLY SHEEHAN...CONCOCTS DELICIOUS DISHES THAT ARE PERFECT FOR YOUR NEXT DINNER PARTY. THIS BOOK, WITH ITS WHIMSICAL ILLUSTRATIONS MAKES FOR A FUN GUIDE IN THE KITCHEN" -SEE THE REVIEW <a href="http://www.thegarlicpad.com/garlic-scape-pesto/" target="_blank">HERE</a></h4>
	</div>

    <div class="col-sm-6 friendBox">
        <p class="col-sm-9">The Wonderful Paul Palop's Rendition of our Pineapple & Cucumber Salad on <a href="http://thatothercookingblog.com/" target="_blank">That Other Cooking Blog</a></p>
        <a href="http://en.gravatar.com/paulpalop" target="_blank">
            <div class="col-sm-3 hidden-xs">
                <img src="http://0.gravatar.com/avatar/b332c026e3699d14a007a385d69f7d93" class="img-responsive img-thumbnail paulPic">
            </div>
        </a>
        <h4 class="col-xs-12">"THE LOVE AND DEDICATION FOR FARMING AND COOKING SHOWS TRANSPARENTLY ON THE PAGES OF THIS BEAUTIFUL BOOK...IT'S DEFINITELY ONE OF A KIND" -SEE THE RENDITION <a href="http://thatothercookingblog.com/2015/07/17/the-things-we-cook-pineapple-and-cucumber-salad/">HERE</a></h4>
    </div>
</div>

<div class="container-fluid">
    <div class="col-sm-4 col-xs-6">
        <div class="grid">
            <figure class="effect-goliath picFour">
                    <a href="css/img/stitches/pancakespicstitch.jpg" data-rel="lightcase">
                        <img src="css/img/mainPhotos/pancakes.jpg" class="img-responsive" />
                    <figcaption>
                        <h3>BUTTERMILK PANCAKES</h3>
                        <p>PG. 52 (CLICK TO SEE MORE)</p>
                    </figcaption>   
                    </a>                
            </figure>
        </div>
    </div>

    <div class="col-sm-4 hidden-xs">
        <div class="grid">
            <figure class="effect-goliath picThree">
                    <a href="css/img/stitches/greekpastapicstitch.jpg" data-rel="lightcase">
                        <img src="css/img/mainPhotos/sprouts2.jpg" class="img-responsive" />
                    <figcaption>
                        <h3>GREEK PASTA SALAD</h3>
                        <p>PG. 93 (CLICK TO SEE MORE)</p>
                    </figcaption>   
                    </a>                
            </figure>
        </div>
    </div>

    <div class="col-sm-4 col-xs-6">
        <div class="grid">
            <figure class="effect-goliath picTwo">
                    <a href="css/img/stitches/meringuestitch.jpg" data-rel="lightcase">
                        <img src="css/img/mainPhotos/meringueLemon.jpg" class="img-responsive" />
                    <figcaption>
                        <h3>MERINGUE & LEMON CURD</h3>
                        <p>PG. 192 (CLICK TO SEE MORE)</p>
                    </figcaption>   
                    </a>                
            </figure>
        </div>
    </div>
</div>

<div class="col-xs-12">
    <img src="css/img/border1.jpg" class="img-responsive">
</div>

<div class="container-fluid row4">
    <div class="author col-md-5 col-sm-6 col-sm-offset-0 col-xs-6">
        <div class="col-sm-6 profile1">
            <img src="css/img/mollyCabbage.jpg" class="img-responsive img-rounded">
        </div>
        <div class="col-sm-6 caption1">
            <h3>MOLLY SHEEHAN -AUTHOR</h3>
            <p>OWNER & FOUNDER OF GREEN HOPE FARM</p>
            <img src="css/img/molFlower.jpg" class="img-responsive img-rounded hidden-xs">
        </div>
    </div>
    <div class="col-sm-2 hidden-sm hidden-xs cairn">
        <img src="css/img/farmTable.jpg" class="img-responsive img-rounded">
    </div>
    <div class="author col-md-5 col-sm-6 col-sm-offset-0 col-xs-6">
        <div class="col-sm-6 caption2">
            <h3>AllI HOWE -ILLUSTRATOR</h3>
            <p>A DOG LOVER AND FLOWER FARMER</p>
            <img src="css/img/grape.jpg" class="img-responsive img-rounded hidden-xs">
        </div>
        <div class="col-sm-6 profile2">
            <img src="css/img/allie.jpg" class="img-responsive img-rounded">
        </div>  
    </div>
</div>

<div class="container-fluid">
    <div class="buy">
        <div class="col-sm-offset-1 col-sm-10 col-xs-12 buyBox">
            <img src="css/img/arrow_final.jpg" class="img-responsive col-sm-offset-1">
        </div>
        <div class="buttons col-xs-12">
            <div class="col-sm-offset-3 col-sm-3 col-xs-6">
                <div class="ghf">
                    <p>ORDER HERE!</p>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="amazon">
                    <a href="http://www.amazon.com/gp/product/1467590312/" target="_blank"><p>BUY ON AMAZON!</p></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Load Form Resources -->

<div class="buyForm">
    <div id="contact-wrapper">
      <form ng-controller="FormController as formCtrl" name="contactForm" ng-submit="formCtrl.submit(contactForm.$valid)" novalidate>

        <fieldset class="form-group col-sm-offset-3 col-sm-5">
              <label>Full Name:*</label>
              <input ng-model="formCtrl.review.name" name="name" type="text" class="form-control" title="name" required/>
        </fieldset>

        <div class="form-group col-sm-offset-3 col-sm-5">
            <label>Quantity:*
            <input ng-model="formCtrl.review.quantity" name="quantity" type="number" min="1" class="form-control" rows="2" required/>
            </label>
        </div>

        <fieldset class="form-group col-sm-offset-3 col-sm-5">
              <label>Email Address:*</label>
              <input ng-model="formCtrl.review.author" name="email" type="email" class="form-control" placeholder="example@example.org" title="Email" required/>
        </fieldset>
                        
        
        <fieldset class="form-group col-sm-offset-3 col-sm-5">
              <label>Shipping Address:*</label>
              <input ng-model="formCtrl.review.address" type="text" class="form-control" placeholder="PO Box or Street Address" title="address" required/>
              <input ng-model="formCtrl.review.address2" type="text" class="form-control" placeholder="City, State zip-code" title="address2" required/>
        </fieldset>

        <div class="form-group">
            <div class="radio col-sm-offset-3 col-sm-5">
                <label><input type="radio" name="radio" value="Wants Invoice" ng-model="formCtrl.review.radio" required>Green Hope Farm Will place an invoice in your order. Please pay with check or money order upon receiving your Cookbook.</label>
            </div>
            <div class="radio col-sm-offset-3 col-sm-5">
                <label><input type="radio" name="radio" value="Wants Paypal" ng-model="formCtrl.review.radio" required>Pay with PayPal: Please leave your paypal email in the comments section below and we will bill you via PayPal</label>
            </div>
        </div>

        <div class="orderInfo col-sm-offset-3 col-sm-5">
            <p>Orders will be sent out within 1-2 business days via USPS with a $3.99 shipping charge</p>
            <p>Email GHF <a href="mailTo:green.hope.farm@valley.net">here</a> with any questions</p>
        </div>   

        <p style="display:none;">Leave this empty: <input ng-model="url" type="text" name="url" /></p>   

        <fieldset class="form-group col-sm-offset-3 col-sm-2 col-xs-4">
              <input type="submit" name="formSubmit" class="btn btn-primary submitBtn" value="Submit Order" />
        </fieldset>

        <div class="priceBox col-sm-2 col-sm-offset-0 col-xs-offset-8 col-xs-4">
            <p>Price = ${{formCtrl.review.quantity*19.95 + 3.99 | number:2}}</p>
        </div>

        <fieldset class="form-group col-sm-offset-3 col-sm-5">
            <label>Comments/Reviews:</label>
            <textarea ng-model="formCtrl.review.comment" type="text" class="form-control" placeholder="Leave Your Message Here!" name="review" title="Review" rows="5">
            </textarea>
        </fieldset>

      </form>
    </div>
</div>

<div class="col-xs-12">
    <img src="css/img/border1.jpg" class="img-responsive">
</div>

<div class="container-fluid">
    <div class="reviews col-sm-8 col-xs-12">
        <div class="reviewGrid col-xs-12">
        <p class="reviewTitle">A GUIDE FOR ANY FAMILY COOK</p>
        <p>"A TRULY FANTASTIC, AND BEAUTIFULLY COMPILED, COLLECTION OF RECIPES AND STORIES. I CANT IMAGINE BETTER A COOKING COMPANION FOR ANYONE WITH A PASSION FOR FARM-TO-TABLE FOOD AND A HUNGRY FAMILY TO SHARE IT WITH. MOLLY AND ALLI BRING THESE RECIPES TO LIFE WITH A WHIMSICAL CHARM THAT MAKES IT NEARLY AS FUN TO FLIP THROUGH AS IT IS TO COOK FROM."</p>
        <p class="caption">-C.C. BOSTON, MA</p>
        </div>
        <div class="col-sm-4 hidden-xs">
            <img src="css/img/glasses.jpg" class="img-responsive">
        </div>
        <div class="reviewGrid col-sm-8 col-xs-12">
        <p class="reviewTitle">BEST COOKBOOK</p>
        <p>"I LOVE THIS COOKBOOK. MADE A HANDFUL OF RECIPES AND ALL OF THEM WERE AMAZING. CANT WAIT TO KEEP EXPLORING. I ALSO REALLY LIKE READING ABOUT THE STORY BEHIND THE RECIPE. REALLY A ONE OF A KIND ALL-STAR COOKBOOK!"</p>
        <p class="caption">-E.M. SAN FRANCISCO, CA</p>
        </div>
        <div class="reviewGrid col-xs-12">
        <p class="reviewTitle">ART, FOOD, STORIES... OH YAY!</p>
        <p>"MY COOKBOOK ARRIVED ON TUESDAY AND IT IS SOOO AMAZING!!! I LITERALLY READ IT AT NIGHT LIKE A BOOK AND I CANNOT PUT IT DOWN! IT IS BEAUTIFUL, COMEDIC, AND EASILY INSPIRES THE INNER CHEF! I ALREADY HAVE PLANS TO TRY AT LEAST THREE RECIPES THIS SUNDAY!""</p>
        <p class="caption">-K.O. GYPSUM, CO</p>
        </div>
    </div>
    <div class="reviewSign col-sm-4 hidden-xs">
        <img src="css/img/review_sign.jpg" class="img-responsive">
        <!-- <p>REVIEWS</p> -->
    </div>
</div>

<div class="friends col-xs-12">
    <h3>MORE FRIENDS!</h3>

    <div class="col-sm-6 friendBox">
        <div class="col-sm-3 hidden-xs">
            <a href="https://instagram.com/sprinkledsideup/" target="_blank">
            <img src="https://scontent-ord1-1.cdninstagram.com/t51.2885-19/s150x150/13597577_1565233520448648_171278578_a.jpg" class="img-responsive img-thumbnail">
            </a>
        </div>
        <p class="col-sm-9">A Thanks to Danna for Her Beautiful Photos and Post on her blog <a href="http://www.sprinkledsideup.com/" target="_blank">Sprinkled Side Up</a></p>
        
        <h4 class="col-xs-12">"FROM HONEY MOUSSE TO A MUENSTER-CRUSTED SPINACH PIE, THEIR COOKBOOK IS A DAY DREAMERS HAVEN" -SEE THE POST <a href="http://www.sprinkledsideup.com/pineapple-cucumber-salad/">HERE</a></h4>
    </div>

    <div class="col-sm-6 friendBox">
        <div class="col-sm-3 hidden-xs">
            <a href="https://instagram.com/chinaphilidoll" target="_blank">
            <img src="https://scontent-ord1-1.cdninstagram.com/t51.2885-19/s150x150/13129268_795206123913810_1602859971_a.jpg" class="img-responsive img-thumbnail"></a>
        </div>
        <p class="col-sm-9">Shayne Flores Wong Found us all the way from Singapore! <a href="http://www.shaynefloreswong.com/" target="_blank">Shayne Flores Wong</a></p>
        
        <h4 class="col-xs-12">"THEY HAVE VEGAN RECIPES, GLUTEN FREE AND EVEN SUGAR FREE RECIPES WHICH ARE GREAT FOR PEOPLE LIKE ME WHO WANT TO START VENTURING INTO A HEALTHIER LIFESTYLE. -SEE HER POST <a href="http://www.shaynefloreswong.com/#!Back-To-School-Recipes-Tomato-Pie/c1tfw/559c87b00cf2ae09c19bbe23">HERE</a></h4>
    </div>

    <div class="hiddenFriend col-xs-12">

        <div class="col-sm-6 friendBox">
            <!-- <div class="col-sm-3 hidden-xs">
                <a href="http://cookbookoftheday.blogspot.com/" target="_blank">
                <img src="http://cookbookoftheday.blogspot.com/" class="img-responsive img-thumbnail"></a>
            </div> -->
            <p class="col-sm-9 col-sm-offset-2">The Things We Cook was Once Featured as the <a href="http://cookbookoftheday.blogspot.com/" target="_blank">Cookbook of the Day!</a></p>
            
            <h4 class="col-xs-12">"THE THINGS WE COOK IS A DELIGHTFUL COOKBOOK. IT IS AN HONEST FARM-TO-TABLE COOKBOOK FROM SOMEONE WHO ACTUALLY WORKS A FARM AND ACTUALLY PUTS FOOD ON THE TABLE FOR ANYONE WHO HAPPENS BY!" -SEE HER FULL POST<a href="http://cookbookoftheday.blogspot.com/2014/02/the-things-we-cook.html">HERE</a>
            </h4>
        </div>

    </div>
</div>

<div class="moreFriend col-xs-12">
    <p>READ MORE</p>
</div>

<div class="footer container-fluid">
    <img src="css/img/frog.jpg" class="img-responsive">
</div>

<footer>
    <p>Want to contact us or feature one of our recipes? email us at <address>sarah@thethingswecook.com</address></p>
    <p>The Things We Cook is a Green Hope Farm Cookbook, if you are interested in Green Hope Farm <a href="http://greenhopeessences.com/" target="_blank">click here!</a></p>
    <p>Copyright Green Hope Farm LLC, All Rights Reserved. 
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="js/animatescroll.min.js"></script>
<script type="text/javascript" src="lightcase/lightcase.min.js"></script>
<script type="text/javascript" src="js/TWCook.js"></script>
<script type="text/javascript" src="js/mailer-app.js"></script>

<!--<script type="text/javascript" src="js/lightcase.min.js"></script>-->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64571827-1', 'auto');
  ga('send', 'pageview');
</script>

</body>
</html>